_build/
._*
.AppleDouble
.buildpath
.classpath
.cproject
.DS_Store
.elasticbeanstalk/
.externalToolBuilders/
.idea/
.loadpath
.LSOverride
.metadata
.project
.sass-cache/
.settings/
.Spotlight-V100
.static
.tox
.Trashes
*.bak
*.egg-info
*.launch
*.log
log/
*.pot
*.pyc
*.pydevproject
*.swp
*.tmp
*~.nib
bin/**
dist/*
local_credentials.py
local.properties
local_settings.py
MANIFEST
scss/*.css
tmp/**
tmp/**/*
environment.ini
goconnect.json
node_modules

db.sqlite3
*.map


